.summary-wrapper {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 40px;
    padding: 20px 0;
    border-bottom: 1px solid #ddd;
}

.summary-item {
    padding-bottom: 35px;
}

h4 {
    margin: 20px 0 70px;
}

.status {
    width: 10px;
    height: 10px;
    background: #c0392b;
    display: block;
    margin: 8px 10px 0 0;
    float: left;
    border-radius: 50%;

    &.checked-in {
        background: #2ecc71;
    }
}

button {
    min-width: 60px;
}
